* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(180deg, #f8fafc, #eef2ff);
  color: #1e293b;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(30,41,59,0.6),
      rgba(30,41,59,0.6)
    ),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1400&q=80")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero span {
  color: #38bdf8;
}

.hero a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 10%;
  gap: 40px;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 20px;
}

/* SKILLS */
.skills {
  background: #020617;
  color: white;
  padding: 70px 10%;
  text-align: center;
}

.skill-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
  gap: 20px;
}

.skill-grid div {
  background: #0f172a;
  padding: 20px;
  border-radius: 15px;
}

/* PROJECTS */
.projects {
  padding: 80px 10%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 30px;
}

.project-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3,
.project-card p {
  padding: 15px;
}

/* CONTACT */
.contact {
  background: #020617;
  padding: 80px 10%;
  color: white;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.contact img {
  width: 100%;
  border-radius: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

form button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: white;
}
